@charset "utf-8";
/* CSS Document */
/********************公共样式*****************************/
body,div,h1,h2,h3,h4,h5,a,p,input,ul,li,form,span,tt,i,img{ margin:0px; padding:0px;}

body{ font:14px/1.5 arial,"Microsoft Yahei";
	  color:#8C8C8C;
	}

a{ text-decoration:none; color:#8C8C8C;}

a:focus{ outline:0px none;}

ul{ list-style-type:none;}

img{ border:0px none; vertical-align:middle;}

.clearfix:after{ clear:both;}/* 761 */

.clearfix:before,.clearfix:after{content:""; display:table;}

/********************主页面样式*****************************/
/*********************************主页头部******************************************************/
	.head_top{ background-color:#FAFAFA;
		   	   border-bottom:solid 1px #DFDFDF;
			   height:36px;
			   font-size:12px;
			   line-height:36px; 
			 }
		 
  .head_top_container{ width:1238px; height:36px;
  					   margin:0px auto;
					   font:normal 12px/36px Microsoft YaHei;
					   }

 .head_top_container a{ text-decoration:none;
 						color:#8C8C8C;
						}	
.head_top_container span{ color:#EDE8E8;
						  padding:0px 10px;}
	
	.head_top_left{ height:36px;
				    float:left;
				   }


	.head_top_right{ height:36px;
					 float:right;
				   }

.head_top_right_user{ float:right;
					  color:#8C8C8C;
					  display:none;
					  }

.head_top_right_user .userName{ color:#000000;}

.head_top_right_user .userName_icon{ background:url(images/2015-07-16_155114.png) 0px 5px no-repeat;
							padding-left:0px;
					  }

.head_top_right_user .list{ list-style-type:none;
							width:138px;
							height:110px;
							border:solid 1px #DFDFDF;
							border-top:none;
							padding-top:6px;
							position:relative;
							}
							
.head_top_right_user .user_ul{ }

.user_ul .list a{ display:block;
				  color:#6c6c6c;
				  height:30px;
				  text-indent:28px;}

.user_ul .list_icon{position:absolute;
					top:30px;
					right:267px;
					display:none;
					 }
/************************第二个div的样式******************************/

.head_container{ width:1240px;
				 padding-top:25px;
				 margin:0px auto;
				 clear:both;
				 position:relative;}

.homepage_logo{ float:left;
		   height:70px;
		   margin-bottom:15px;
		   //border:solid 1px blue;
		   }

.search_area{ float:right;
			  margin:30px 0px 15px;
			  //border:solid 1px blue;
			  }

.search_area_left{ float:left; margin-right:10px;
		           }

.search_form{ width:422px; height:38px;
			  border:solid 1px #DFDFDF;
			  position:relative;}
			  
.search_text{ border:0px none;
			  width:344px; height:20px;
			  padding:8px 15px;
			  line-height:20px;
			  font-size:100%;
			  color:#333;
			  }			  

.search_submit{ border:none;
				border-left:solid 1px #DFDFDF;
				width:40px; height:40px;
				background:url(../images/2015-07-16_191002.png) 12px 
				12px no-repeat;
				}

.hot_words{ position:absolute;
			top:9px;
			right:48px;
			font-size:12px;}

.hot_words a{ display:inline-block;
			  text-decoration:none;
			  padding:1px 3px;
			  margin-left:5px;
			  color:#333;
			  font-family:Microsoft YaHei;
			  background-color:#F3F3F3;}

.search_area_right{ float:right;
					width:126px; height:40px;
					background-color:#FFDB3D;
					font:14px/40px Microsoft YaHei;}

.search_area_right_cart{ display:block;
						 width:104px;
						 height:20px;
						 padding:9px 10px;
						 color:#333;
						 text-align:center;
						 line-height:20px;
						 text-decoration:none;
						 }





.head_container_list{ clear:both;
					  height:50px;
					  background-color:#404144;
					}

.all_classification{ width:248px; height:50px;
					 background-color:#FF4A00;
					 float:left;
					 position:relative;
				   }

.all_classification a{text-decoration:none;}

.a_c_text{ display:block;
		   padding:7px 50px 7px 20px;
		   font:normal 18px/36px Microsoft YaHei;
		   color:#FFF;
		   }
.a_c_text i{ position:absolute;
			 right:15px;
			 top:45%;
			 //margin-top:-18px;
			 font-size:18px;
			 }

.classification_list{ width:248px;
 					  
					  background-color:#FFF;
					}

.c_l_ul{ list-style-type:none;}

.c_l_u_li{ height:73px;
		   position:relative;
		   border:solid 1px #DFDFDF;
		   border-top:none;
		   
		 }

.c_l_u_l_div{ height:43px;
			  padding:15px 10px 15px 20px;}

.class_title{ color:#ff4a00;
			  font-size:14px;
			  }

.class_links{ width:215px; height:21px;
			  margin-top:1px;
			  
			}

.class_links a{ margin-right:3px;
				color:#6D6D6D;}

.class_children{ position:absolute;
				 top:-1px;
				 left:246px;
				 width:247px;
				 border:1px solid #DFDFDF;
				 background-color:#FFF;
				 display:none;
				 z-index:12;
			   }
.special_children{ width:496px;}

.children_list{ padding:10px 0px;
				list-style-type:none;
			  }
/* 子类，不用改 */
.children_list li{ height:62px;
				   width:247px;
				   float:left;
				   }

.children_list_a{ display:block;
				  padding:10px 30px;
				  line-height:40px;
				  color:#6D6D6D;}
.children_list_img{ width:40px; height:40px;
					  vertical-align:middle;
					  margin-right:20px;
					  }
.children_list_a span{ line-height:40px;}


.star_section{ padding:20px 30px;
			   font-size:12px;
			   background-color:#FAFAFA;
			   clear:both;
			   }

.star_section h4{ margin-bottom:5px; 
				  font-weight:400px; 
				  }
				 /*star_section ul删除掉*/
.star_section ul{ margin-left:20px;
				  list-style-type:disc;
				  color:#6D6D6D;}

.star_section  a{ color:#6D6D6D;}


/************************头部横条导航右边的样式******************************/


.h_c_l_right{ float:left;}

.h_c_l_right ul{ clear:both;
			     list-style-type:none;
			     position:relative;
			     }

.h_c_l_r_li{ float:left;
			 font-size:18px;
			 line-height:20px;
			 //border:dashed 1px blue;
			 }
.h_c_l_r_li:hover{ background-color:#333;}
		 
.li_a_text{ text-decoration:none;
			color:#FFF;
			display:block;
			position:relative;
			padding:15px 23px;}

.li_a_img{position:absolute; 
		  left:45%;
		  bottom:0px;
		  width:0px;
		  display:none;
		  }
			
.head_hidden_show{ position:absolute;
				   top:50px;
				   left:-1px;
				   width:993px;
				   line-height:1.5;
				   background-color:#FFF;
				   display:none;
				   z-index:12;
				  }

.head_hidden_show ul{}

.head_hidden_show .li_one{ border-right:solid 1px #DFDFDF;
					  	  border-bottom:solid 1px #DFDFDF;
					      display:block;
					      width:495px;
					      height:200px;
					      float:left;
					    }
.head_hidden_show .li_first{ border-left:solid 1px #DFDFDF;}

.head_hidden_show .li_two{ border-right:solid 1px #DFDFDF;
					  	  border-bottom:solid 1px #DFDFDF;
					      display:block;
					      width:329px;
					      height:200px;
					      float:left;
					    }
						
.head_hidden_show .li_TV{ border-right:solid 1px #DFDFDF;
					  	  border-bottom:solid 1px #DFDFDF;
					      display:block;
					      width:247px;
					      height:200px;
					      float:left;
					    }	
											
		  .li_one a{ text-decoration:none;
					 position:relative;
					 display:block;
					 height:120px;
					 padding:50px 50px 30px 265px;
					 color:#6D6D6D;
					 }
		  .li_two,.li_TV a{ text-decoration:none;
		  			 display:block;
					 padding:0px;
					 height:200px;
					 text-align:center;
					 position:relative;
					 color:#6D6D6D;
					 }		 

		  .li_one .span_img{ position:absolute;
							 top:32px;
							 left:100px;
							 }
		  .li_two .span_img{ position:static;
		  					 top:0px;
							 left:0px;
						
							 }
		  .li_TV .span_img{ position:static;
		  					 top:0px;
							 left:0px;
							 display:block;
							 padding-top:30px;
							 margin-bottom:15px;
							 }				 
		  .li_one .span_two{ margin-bottom:10px;
							 font-size:14px;
							 }
			
		  .li_two .span_two{ margin-bottom:0px;
		  					 	 	font-size:14px;}
							 
		  .li_TV .span_one{ font-size:16px;}
		  
					 
.head_hidden_show span{ display:block;}

.head_hidden_show .span_one{ font:20px;
							 color:#000; 
							 }

.head_hidden_show .span_three{ font-size:12px;
							   color:#FF4A00;
							   }			

.head_hidden_show .span_three b{ margin-right:3px;
								 font-size:18px;
								 font-weight:400;}

/************************开放购买的样式******************************/

.open_buy_date{ position:absolute;
	  			top:20px;
				right:0px;
				}

.open_buy_date a{ display:inline-block;
				  padding-left:20px;
				  height:16px;
				  font:normal 12px/16px Microsoft YaHei;
				  color:#8C8C8C;
				  text-decoration:none;
				  //overflow:hidden;
				  			    			
				}


/*********************************主页主体部分******************************************************/
.homepage{ width:1240px; margin:0px auto;}

.show_container{ width:992px;
				 float:left;
				 min-height:1px;
				 margin-left:248px;}

.big_img{ overflow:hidden;
		  height:420px;
		  position:relative;
		  }
.big_img_con{ overflow:hidden;
			  position:relative;
			  width:992px;
			  height:420px;
			}
.b_i_c{ position:relative;
	    left:0px;
		width:992px;
		height:420px;
		}

.img_show{ position:absolute;
		   top:0px;
		   width:100%;
		   display:none;
		   left:0px;
		   z-index:0;
		   }
.last_img,.next_img{ display:none;
		   position:absolute;
		   //left:0px;
		   top:0px;
		   height:100%;
		   z-index:10;
		   width:41px;
		   text-indent:-9999em;
		   overflow:hidden;
		
		   }
.last_img{ left:0px;
		   background:url(../images/icon-slides.png) -84px center no-repeat;
		   }	
	
.last_img:hover{ background:url(../images/icon-slides.png) 0px center no-repeat}
		  
.next_img{ right:0px;
		   background:url(../images/icon-slides.png) -126px center            no-repeat;
		   }
		   
.next_img:hover{ background:url(../images/icon-slides.png) -42px center no-repeat}
		   
.big_img ul{ display:block;
			 position:absolute;
			 right:15px;
			 bottom:15px;
			 z-index:10px;
			 }

.big_img ul li{ display:inline;
				margin-left:10px;
			  }
.big_img ul li a{ display:inline-block;
				  width:28px;
				  height:18px;
				  line-height:18px;
				  border:1px solid rgba(225,225,225,0.3);
				  font-size:12px;
				  text-align:center;
				  color:#FFF;
				  background-color:rgba(0,0,0,0.3)
				  ;}
				  
				  

.little_img{ border-top:1px solid #DFDFDF;
			 border-bottom:1px solid #DFDFDF;
		   }

.three_img{ float:left;
			width:330px;
			height:170px;
			border-right:1px solid #DFDFDF;
			overflow:hidden;
			background-color:#F3F3F3;
			}
.three_img_first{ width:329px;}

.three_img a{ display:inline;}

.three_img a img{ width:330px; height:170px;}

/******************************home_new_goods**********************************/	

.home_star_goods{ margin-top:10px;
				  margin-bottom:15px;
				}

.xm_plain_box .box_hd{ position:relative;
					   height:50px;
					 }
.xm_plain_box .box_hd .title{ margin:0px;
							  font-size:18px;
							  font-weight:400;
							  line-height:50px;
							  color:#333;
							  }

.xm_plain_box .box_hd .more{ position:absolute; top:0px; right:0px;}							

.xm_plain_box .box_hd .more .more_link{ font-size:14px; line-height:50px; color:#333;}

.xm_recommend_page{ width:60px; margin-top:20px;}
							  
.home_star_goods .acc_link{ margin-left:10px;
							font-size:14px;
							color:#6D6D6D;
						  }

.to_left,.to_right{ float:left;
					width:28px;
					border:1px solid #DFDFDF;
					font-size:18px;
					line-height:1;
					text-align:center;
					//color:#6D6D6D;
					color:#c3c3c3;
					background-color:#FFF;
				  }		   
		   
		   
.to_left{ border-right:none; color:#333;}

        .box_bd{ border:1px solid #DFDFDF;
				 background-color:#FFF;
			   }
			   
.star_img_row{ height:308px;
			   width:1238px;
			   overflow:hidden;
			   
			  }

.img_row{ width:2480px;
		  margin-left:0px;
		}
.star_goods_item{ float:left;
				  width:309px;
				  height:309px;
				  border-right:1px solid #DFDFDF;
				  }

.star_goods_item .item_content{ display:block;
			   height:288px;
			   padding:4px;
			   border:6px solid #FFF;
			   text-align:center;
			   color:#000;
			   transition:border-color 0.5s ease-in 0s;
			   }

.item_content_img{ display:block;
				   margin-bottom:10px;
				 }
.item_content_link{ display:block;
					font-size:16px;
				  }

.item_content_link a{ color:#000;}

.item_content_info{ display:block; 
					font-size:12px;
					color:#8C8C8C;
					}
/******************************home_new_goods**********************************/					

.home_new_goods{ margin-bottom:15px;}

.home_new_goods .row .col{ height:929px;}
				.row .col{overflow:hidden;
						 float:left;
						 min-height:1px;
					   }
.new_good_left{ width:930px;
				}
.brick_list .brick_item{ float:left;};

.brick_list .brick_item_1{ width:620px; height:310px;}

.brick_list .brick_item_m{ width:310px; height:310px;}

.brick_list .item{ border-right:1px solid #DFDFDF;
				   border-bottom:1px solid #DFDFDF;}

.brick_list .item .item_content{ position:relative;}

.brick_list .item .item_title{ display:block;}

.brick_list .item  .item_price{ color:#000;}

.brick_list .brick_item_1 .item .item_content{ width:619px; 
											   height:309px;
											   overflow:hidden;
											 }

.brick_list .brick_item_m .item .item_content{ height:289px;
											   padding:4px;
											   border:6px solid #FFF;
											   transition:border-color 0.5s ease 0s;}



.brick_list .brick_item_m .item .item_title{ width:100%;
											 text-overflow:ellipsis;
											 white-space:nowrap;
											 overflow:hidden;
											 }

.brick_list .brick_item_m .item  .item_thumb{ text-align:center;} 


.brick_list .item a{ color:#000;}

 .brick_list .item .item_info{ display:block;
							   padding-left:20px;
							   padding-top:20px;
							 }

.brick_list .item .item_thumb{ display:block;}

.brick_list .item .item_flag{ position:absolute;
							  top:-6px;
							  right:20px;
							}
.brick_list .item .item_flag .icon_flag{ display:block;
										 width:70px;
										 height:20px;
										 font-size:12px;
										 line-height:20px;
										 text-align:center;
										 color:#FFF;
										 background-color:#F32F39;
										 }

.brick_list .brick_item_1 .item .item_thumb img{ width:620px;
												 height:310px;}

.brick_list .brick_item_s{ width:310px; height:155px;}

.brick_list .brick_item_s .item .item_content{ height:135px;
											   padding:3px 4px 4px;
											   border:6px solid #FFF;                              transition:border-color 0.5s ease 0s;}
											   
											   
.brick_list .brick_item_s .item .item_info{ float:left; width:130px;}										   
.brick_list .brick_item_s .item .item_thumb{ float:right;}										   
.brick_list .brick_item_s .item .item_thumb img{ width:134px;
												 height:134px;}									   
/*****新品上架右边*****/										   
											   
.home_new_goods .new_good_right{ width:308px;
								 background-color:#FAFAFA;
							   }	
			   
.home_new_goods .channel_list li{ border-bottom:1px solid #DFDFDF;}								   
.home_new_goods .channel_list li a{ position:relative;
								    display:block;
									height:86px;
									padding:30px 120px 10px 30px;
									color:#333;
								  }											.home_new_goods .channel_list li .item_title{ display:block;
								  			  width:155px;
											  font-size:18px;
											  text-overflow:nowrap;
											  white-space:nowrap;
											  overflow:hidden;
											}  
											
.home_new_goods .channel_list li .item_desc{ display:block;
											 font-size:12px;
											 color:#6D6D6D;
										   }											
											
.home_new_goods .channel_list li .item_thumb{ position:absolute;
											  top:13px;
											  right:18px;
											}											   
.home_new_goods .news_section{ padding:25px 30px;
							   border-bottom:1px solid #DFDFDF;
							   }

.home_new_goods .news_section li{ border-top:1px solid #DFDFDF;
								  color:#333;
								 }
								 
.home_new_goods .news_section li a{ position:relative;
									display:block;
									padding:12px 12px 12px 0px;
									color:#333;
									}
								 
.home_new_goods .news_section li.first{ border-top:0px none;}

.home_new_goods .news_section li.first a{ color:#FF4A00;}

.home_new_goods .news_section li .iconfont{ position:absolute;
										    right:0px;
											top:12px;
										  }

.home_new_goods .recharge_section{ padding:25px 30px 20px;}

.home_new_goods .recharge_section h3{ margin-bottom:10px;
									  font-size:18px;
									  font-weight:400;
									  line-height:27px;
									  color:#333;
									}
.home_new_goods .recharge_section .xm_charge_tips{ margin-left:10px;
												   font-size:14px;
												   color:#F32F39;
												   display:inline;
												 }
.xm_recharge_form{ font-size:14px; color:#6D6D6D;}

.xm_recharge_form fieldset{ margin:0px 0px 10px;
							padding:0px; 
							border:0px none;
						  }
.xm_recharge_form .xm_recharge_tel input{ display:block;
								   		  width:216px;
										  height:28px;
										  padding:5px 15px;
										  border:1px solid #DFDFDF;
										  font-size:14px;
										  line-height:2;
										  outline:0px none;
										  color:#8C8C8C;
										  transition:border-color 0.3s ease 0s;
										  }
.xm_select{ position:relative;}

.xm_select .dropdown_text{ border:1px solid #DFDFDF;
						   color:#6D6D6D;
						   background-color:#FFF;
						   }
	
.xm_select .dropdown_menu{ display:none;
						   position:absolute;
						   top:0px;
						   left:0px;
						   z-index:2;
						   border:1px solid #C3C3C3;
						   background-color:#FFF;
						   }
											   
.xm_select .dropdown_text,.xm_select .dropdown_menu	li a,.xm_select .dropdown_menu	li span{ display:block;
						 width:206px;
						 height:28px;
						 padding:5px 25px 5px 15px;
						 font-size:14px;
						 line-height:2;
						 cursor:pointer;
					   }										   
.xm_select .dropdown_menu li a,
.xm_select .dropdown_menu li span{ color:#8C8C8C;}		
		
											   
.xm_select .arrow_down{ position:absolute;
						right:10px;
						top:18px;
						z-index:9;
						width:11px;
						height:5px;
						background:url(../images/icon-arrow-down.png)	                        0px 0px no-repeat;
						}											   
.xm_recharge_form .xm_recharge_price{ margin:15px 0px;}										   
.xm_recharge_form .xm_recharge_price .filedset_text span{ margin-right:3px; font-size:18px;}											   
.xm_recharge_submit .btn_recharge_submit{ display:block;
										  width:100%;
										  height:40px;
										  border:0px none;
										  line-height:40px;
										  color:#FFF;
										  cursor:default;
										  opacity:0.65;
										  background-color:#CCD0D9;
										  font-size:14px;
										  text-align:center;
										  }		
										  
.home_hot_goods .new_good_left{ height:619px;}									  
										  						   						   
.home_hot_goods .new_good_right{ width:308px;
								 height:619px;
								 overflow:hidden;
							   }
.home_hot_goods .board_section h3{ height:36px;
								   padding:34px 30px 33px;
								   font-size:24px;
								   font-weight:400px;
								   color:#000;
								 }
.home_hot_goods .board_section h3 span{ margin-right:5px;
									    color:#FF4A00;}


.home_hot_goods .board_list li{ position:relative;
								height:70px;
								padding:16px 30px 16px 65px;
								border-top:1px solid #DFDFDF;
								}
								
.home_hot_goods .board_list li a{color:#333;}
							
.home_hot_goods .board_list li .item_info{ float:left;
										   width:135px;
										   padding:15px 0px 0px;
										   }
.home_hot_goods .board_list li .item_title{ display:block;
											width:135px;
											text-overflow:ellipsis;
											white-space:nowrap;
											overflow:hidden;
										  }
.home_hot_goods .board_list li .item_price{ color:#333;}

.home_hot_goods .board_list li .item_thumb{ float:right;}

.home_hot_goods .board_list li .item_thumb img{ width:70px;
												height:70px;
											  }

.home_hot_goods .board_list li .item_num{ position:absolute;
										  left:30px;
										  top:15px;
										  font-size:40px;
										  line-height:70px;
										  color:#6D6D6D;
										  }
.home_hot_goods .board_list li.top .item_num{ color:#FF4A00;}
/***************公有属性*****************/



/***************公有属性*****************/

/********home_commented_goods*******/
.home_comment_goods .xm_commented_goods_list_wrap{ height:410px;}

.xm_commented_goods_list_wrap{ width:1238px; overflow:hidden;}

.xm_commented_goods_list_wrap .xm_commented_goods_list{ width:1240px;}

.xm_commented_goods_list_wrap .xm_commented_goods_item{ position:relative;
float:left;
width:309px;
border-right:1px solid #DFDFDF;
border-bottom:1px solid #DFDFDF;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item a{ color:#333;}

.xm_commented_goods_list_wrap .xm_commented_goods_item .item_content{height:390px;
padding:4px;
border:6px solid #FFF;
transition:border-color 0.5s ease 0s;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_info{
display:block;
height:64px;
margin-bottom:5px;
padding:20px 20px 25px;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_title{ display:block;}

.xm_commented_goods_list_wrap .xm_commented_goods_item .item_meta{ 
display:block;
height:18px;
font-size:12px;
color:#8C8C8C;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_meta .sep{ margin:0px 5px; color:#DFDFDF;
}
.sep{ font-family:sans-serif;}

.xm_commented_goods_list_wrap .xm_commented_goods_item .item_meta .icon_stat{ 
position:relative;
top:2px;
}
.icon_stat_5{ background-position:0px 1px;}

.icon_stat{ display:inline-block;
			width:65px;
			height:14px;
			overflow:hidden;
			background-image:url(../images/icon-stat.png);
			background-repeat:no-repeat;
			}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_price{ display:block; color:#333;}

.xm_commented_goods_list_wrap .xm_commented_goods_item .item_price del{ margin-left:5px;
																		color:#8C8C8C;
																	  }

.xm_commented_goods_list_wrap .xm_commented_goods_item .item_thumb{
display:block;
text-align:center;	
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_thumb img{
width:220px; height:220px;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_comment{
position:relative;
display:block;
height:36px;
padding:10px 15px;
font-size:12px;
color:#6D6D6D;
background-color:#F3F3F3;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_comment::after{
display:block;
content:"";
position:absolute;
left:50%;
top:-12px;
width:0px;
height:0px;
margin-left:-6px;
border-width:6px;
border-style:solid;
border-color:transparent transparent #F3F3F3;	
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_flag{ position:absolute;
																   top:0px;
																   right:24px;
																   }
.xm_commented_goods_list_wrap .xm_commented_goods_item .item_flag .icon_flag{
display:block;
width:70px;
height:20px;
font-size:12px;
line-height:20px;
text-align:center;
color:#FFF;
background-color:#F32F39;
}
.xm_commented_goods_list_wrap .xm_commented_goods_item .item-author{ display:block;
																	 font-size:12px;
																	 color:#333;
																	 }
																	 
/********home_saleoff_goods*******/
.home_saleoff_goods .xm_commented_goods_list_wrap{ height:309px;}

.home_saleoff_goods .xm_commented_goods_list_wrap .xm_commented_goods_item .item_content{ height:249px; padding:24px;}

/***************home_miui_goods*******************/

.home_miui_goods .xm_commented_goods_list_wrap{ height:335px;}

.home_miui_goods .xm_commented_goods_list_wrap .xm_commented_goods_item .item_content{height:315px;}

.home_miui_goods .xm_commented_goods_list_wrap .xm_commented_goods_item .item_thumb{ text-align:center;}

.home_miui_goods .xm_commented_goods_list_wrap .xm_commented_goods_item .item_thumb img{ width:auto;height:220px;}

/************************************底部样式*********************************************************/
	
	.foot_body{ margin-top:50px;
				background-color:#FAFAFA;
				}
	
	.foot_container{ width:1240px;
					 margin:0px auto;}

/*******************foot内容的上边的div样式***************************/
	
	.foot_up{ width:1240px;
			  height:77px;
			  padding-top:40px;
			  padding-bottom:40px;
			  border-bottom:solid 1px #DFDFDF;
			}
		
	.foot_up li{ float:left;
				 width:20%;
				 text-align:center;}
	
	.foot_up_a{ display:block;
				font-size:12px;
				color:#333;
				}
	
	.foot_up_a span{ line-height:36px;
					 display:block;
				   }
	
	.foot_up_a strong{ display:block;
					   margin-top:5px;
					   font-size:18px;
					   font-weight:400;
					   color:#000;}
/*******************foot内容的中间的div样式***************************/	
	
	.foot_middle{ width:1240px;
			  	  height:118px;
			  	  padding:40px 0px;
				  color:#6D6D6D;
				  border-bottom:solid 1px #DFDFDF;}
	
	.foot_middle_dl{ float:left;
					 width:165px;
					 margin-left:30px;
					 border-right:solid 1px #DFDFDF;
					 }
		.dl_first{ margin-left:0px;}
	
	.foot_middle_dl dt{ margin-bottom:10px;
					    font-size:18px;
					    color:#333;
					   }
	.foot_middle_dl dd{ margin-bottom:6px;
						color:#6D6D6D;
					  }
	.foot_middle_contact{ float:right;
						  width:270px;
						  text-align:center;
						}
						
	.foot_middle_contact p.phone{ margin-bottom:5px;
								  font-size:26px;
								  line-height:1;
								  color:#000;
								 }
	.foot_middle_contact p{ margin-bottom:15px;}
	
	.foot_middle_contact a{ display:inline-block;
							height:28px;
							line-height:28px;
							width:118px;
							font-size:12px;
							background-color:#FF4A00;
							color:#FFF;
							}
/*******************foot内容的下边的div样式***************************/		
	.foot_down{ width:1240px;
			  	height:80px;
				position:relative;
				padding:35px 0px 65px;
				font-size:12px;
				text-align:center;
				}
.foot_down_info{ margin-bottom:20px;}
	
.foot_down_info p{ line-height:20px;}

.foot_down_info p a{ color:#333;}

.foot_down_info p span{ margin:0px 1px;
						color:#AE9191;}
						
.foot_down_language{ position:absolute;
					 left:50%;
					 top:85px;
					 margin-left:100px;
					 width:200px;
					 font-size:12px;
					 text-align:left;
					 color:#8C8C8C;
					 }						
						
.f_d_l_chose{ width:178px;
			  height:18px;
			  padding:10px;
			  border:1px solid #DFDFDF;
			  background-color:#FFF;
			  }					
  .foot_icon{ position:absolute;
  			  right:18px;
			  top:17px;
			  width:0px;
			  height:0px;
			  
  			}	
.foot_down_language ul{ position:absolute;
						left:0px;
						bottom:0px;
						width:198px;
						border:1px solid #DFDFDF;
						background-color:#FFF;
						display:none;
					  }	

.foot_down_language ul li a{ display:block;
							 height:18px;
							 padding:10px;
							 }	
.foot_down_info_links img{ width:auto; 
						   height:20px;
						   vertical-align:middle;}							 
							 

/******************************动态样式**********************************/

 .foot_container a:hover{ color:#FF4A00;}
 .foot_middle_contact a:hover{ background-color:#EE330A; color:#FFF;}							 

.big_img ul li a:hover{ background-color:rgba(0,0,0,0.6)}

.open_buy_date a:hover{ color:#FF4A00}				

.clearfix:after{ clear:both;}

.clearfix:before,.clearfix:after{content:""; display:table;}

.star_section a:hover{ color:#333;}

.class_links a:hover{ color:#333;}

.children_list li:hover{ background-color:#F3F3F3}

.open_buy_date a{ background:url(../images/icon-open-buy.png) no-repeat;}

 .head_top_container a:hover{color:#333;}

.item_title a:hover{ color:#FF4A00}

.news_section li a:hover{ color:#FF4A00;}

.dropdown_menu li:hover{ background-color:#F3F3F3}

.board_list li .item_info .item_title a:hover{ color:#FF4A00}; 

//.item-content:hover{ border-color:#F3F3F3;}








